!!!
%html
  %head
    %meta{charset: 'UTF-8'}/
    %title Hello World!
    %link{type: 'text/css', rel: 'stylesheet', href: 'main.css'}
    :javascript
      require('coffee-script/register')
      require('./renderer.coffee')
  %body
    %input.search{placeholder: 'Search...', autofocus: 'autofocus'}
