!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title Hello World!
  %body
    %h1 Hello World!
    We are using Node.js
    :javascript
      document.write(process.version)
    and Electron
    :javascript
      document.write(process.versions['electron'])
    \.
