!!!
%html
  %head
    %meta{charset: 'UTF-8'}/
    %title Limelight
    %link{type: 'text/css', rel: 'stylesheet', href: 'main.css'}
  %body
    %input.search{placeholder: 'Search...', autofocus: 'autofocus'}
    %ul.result Please input keyword
  :javascript
    window.$ = window.jQuery = require('../bower_components/jquery/dist/jquery.js');
  %script{type: 'text/javascript', src: 'renderer.js'}
